html,
body {
	height: 100%;
	margin: 0;
	overflow: hidden;
}
#map {
	display: inline-block;
	width: 100%;
	height: calc(100% - 10px);
	height: 100%;
	z-index: 0;
}
.files,
.split {
	position: absolute;
	top: 10px;
	left: 40%;
	height: -moz-calc(100% - 20px);
	height: -webkit-calc(100% - 20px);
	height: -o-calc(100% - 20px);
	height: calc(100% - 20px);
}
.split span {
	display: table-cell;
	vertical-align: middle;
	font-size: 4px;
	line-height: 8px;
}
.split {
	display: table;
	width: 4px;
	z-index: 2;
	cursor: col-resize;
	color: black;
	border-left: 1px solid rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0,0,0,0.2);
	background-color: white;
	-webkit-transition: background-color .6s;
	-moz-transition: background-color .6s;
	-ms-transition: background-color .6s;
	-o-transition: background-color .6s;
	transition: background-color .6s;
}
.split.resizing {
	color: black;
	background-color: orange;
}
.files.resizing .explorer,
.files.resizing .searcher {
	background-color: rgba(192,192,192,0.5);
}
.leaflet-control-dialog .leaflet-bar {
	margin: 0;
	width: -mozcalc(100% - 4px);
	width: -webkit-calc(100% - 4px);
	width: -o-calc(100% - 4px);
	width: calc(100% - 4px);
}
.leaflet-control-dialog .leaflet-bar a {
	width: 100%;
}
.center {
	text-align: center;
}
label,
.search-selector {
	cursor: pointer;
}
.leaflet-touch .leaflet-control-layers-toggle {
	width: 30px;
}
.button {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	line-height: 26px;
	display: inline-block;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 3px;
	border: 1px solid #dcdcdc;
	text-align: center;
	text-decoration: none;
	min-width: 30px;
}
.button:hover {
	background-color: rgba(128,128,128,.8);
}
.files {
	right: 10px;
	cursor: default;
	z-index: 1;
	perspective: 1000px;
	transform-style: preserve-3d;
}
.flipper {
	position: relative;
	height: 100%;
	transform-style: preserve-3d;
}
.files .button {
	position: absolute;
	right: 10px;
	top: 10px;
}
.files .explorer .button {	
	background-color: rgba(255,255,255,.8);
	color: black;
}
.files .explorer .button:hover {	
	background-color: rgba(225,225,225,.8);
}
.files .searcher .button {	
	background-color: rgba(0,0,0,.8);
	color: white;
}
.files .searcher .button:hover {	
	background-color: rgba(30,30,30,.8);
}
.files .explorer,
.files .searcher {
	background-color: rgba(0,0,0,.5);
	backface-visibility: hidden;
	-webkit-transition: .8s;
	-moz-transition: .8s;
	-ms-transition: .8s;
	-o-transition: .8s;
	transition: .8s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.files .searcher {
	background-color: rgba(255,255,255,.5);
	transform: rotateY(180deg);
}
.files .explorer {
	transform: rotateY(0deg);
}
.files.flip .explorer {
	transform: rotateY(180deg);
}
.files.flip .searcher {
	transform: rotateY(0deg);
}
